.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__section {
  padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320))) 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  font-size: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
