/* header */

/* /header */
/* hero */
.hero {
  background: var(--dark-color);
  color: var(--light-color);
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  @media (min-width: 767px) {
    flex-direction: row;
  }
}

.hero__content {
  flex-basis: 50%;
}

.hero__title {
  margin-bottom: 20px;
  font-size: calc(40px + (70 - 40) * ((100vw - 320px) / (1200 - 320)));
  line-height: 1;
  white-space: nowrap;
}

.hero__text {
  margin-bottom: 20px;
}

.hero__link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--dark-color);
}

.hero__img {
  max-width: 100%;
  height: 100%;
}

/* /hero */
/* advantages */
/* /advantages */
/* teachers */
/* /teachers */
/* courses */
/* /courses */
/* contacts */
/* /contacts */
